@font-face{
    font-family: psb;
    src:url("./font/Product\ Sans\ Bold.ttf");
}

@font-face{
    font-family: pst;
    src: url("./font/Product\ Sans\ Thin\ 250.ttf");
}

@font-face{
    font-family: avenir;
    src:url("./font/AvenirLTStd-Book.otf");
}

@font-face{
    font-family: roboto;
    src: url("./font/Roboto-Regular.ttf");
}


/* hHEADER BIG */

.wrapHead{
    margin: 0;
    padding: 0;
    width: 100%;
    height:547px;
    background-image: url("./img/bgHead.png");
    background-size:auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumboTron{
    width:100%;
    height: 547px;
    margin:0 auto;
   background-color: rgba(29, 26, 26, 0.377);
}


.btnLogin{
    margin:5% 5px;
    height: 30px;
    width:100px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    float:right;
    font-family: psb;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background-color: unset;
  
}

.btnRegis{
    margin:5% 5px;
    height: 30px;
    width:100px;
    background: #FFAF00;
    border-radius: 5px;
    float:right;
    font-family: psb;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.wrapHead h1{
    margin-top: 80px;
    font-family: psb;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #FFffff;
}

.wrapHead h2{
    font-family: pst;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.wrapHead p{
    font-family: psb;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.wrapHead input{
    width: 980px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    border: none;
}

.avatar{
    margin-top: 10px;
}

.btnSearch{
    font-family: psb;
    width: 120px;
    line-height:50px;
    height: 50px;
    background: #FFAF00;
    border-radius: 0px 5px 5px 0px;
    border: unset;
    color: white;
}
/* HEADER KECIL */

.headerKecil{
    padding: 0;
    height:75px;
    width:100%;
    background-image: url("./img/bgHead.png");
    background-size:auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerHeaderKecil{
    background-color: rgba(34, 30, 30, 0.377);
}

/* FOOTER*/

.footer{
    widows: 100%;
    height: 54px;
    position: relative;
    margin:0;
    padding: 10px;

    color:white;
    font-size: 18px;
    font-family: psb;
    background-color: #FFAF00;
    text-align: center;
}

.footer p{

    left: 400px;
    text-align: center;
    margin:0;

}

.footer img{
    position: absolute;
    bottom: 0;
    right:0;
}

/* Card */

.wrapCard{
    position: relative;
    margin:0;
    padding: 0;
    width:100%;
    height:350px;
    background-color: #E5E5E5;
}

.ornamentBunga{
    padding:0;
    margin-top:-60px;
    position: absolute;
    top:0;
    right:0;
}


.containerCard{
    padding:50px 15px;
    width: 250px;
    height: 350px;
    background: white;
    margin-top: -40px;
    border-radius: 5px;
}

.containerCard img{
    margin: 5px 35%;
}

.containerCard h1{
    margin: 30px 0;
    font-family: avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.containerCard h2{
    font-family: avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #878787;
}
 /* DESTINATION */

.wrapUniversal{
    background-color: #E5E5E5;
    padding: 5% 9%;
    padding-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.containerDestination{
    padding: 0;
    font-family: avenir;
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    margin-top: 2%;
}

.containerDestination img{
    width:320px;
margin:3% auto;
}

.containerDestination h1{
 font-size: 24px;
}

.containerDestination .price{
    font-size: 18px;
    color:#FFAF00;
}

.containerDestination .country{
    font-size: 18px;
    color: #878787;
    text-align: right;
}

/* DETAIL DESTINATION */

.wrapUniversal .containerDetail{
    padding: 0 10%;
    font-family: avenir;
}

.containerDetail h1{
font-weight: 900;
font-size: 48px;
color: #000000;
}

.containerDetail p{
font-weight: 600;
font-size: 24px;
line-height: 10px;
color: #A8A8A8;
margin-bottom: 25px;
}

.mainImage{
    width: 885px;
height: 361.16px;
margin-bottom: 5px;
}

.childImage{
 width:291px;
 height:167px;
 
}

.containerDetail .infoTrip{
color: #000000;
font-weight: 900;
font-size: 18px;
line-height: 25px;
margin-top:30px;
}

.detailTour{
    width:150px;
}
.detailTour .category{
font-weight: 800;
font-size: 13px;
line-height: 15px;
color: #A8A8A8;
margin-bottom: 2px;
}

.detailTour span{
font-weight: 800;
font-size: 14px;
line-height: 25px;
color: #000000;
}
.deskripsi{
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    color: #A8A8A8;
}
.deskripsi p{
    margin-bottom: 3px;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.bottomRow{
    padding-top: 30px;
    border-bottom: 2px solid #878787 ;
}

.bottomRow .yellowPrice{
font-weight: 900;
font-size: 24px;
line-height: 33px;
color: #FFAF00;
}

.bottomRow .yellowPrice span{
    color:black;
}

#right{
    float: right;
}

#right .plusMin{
    height: 30px;
    width:30px;
    border-radius: 50%;
    border:none;
    color: white;
    background-color: #ffaf00;
}

.bottomRow .total{
    font-weight: 900;
    font-size: 20px;
    color: #000000;
}

 .btnBook{
     margin-right: 0;
     font-size: 18px;
    margin-top: 20px;
    width:200px;
    height: 50px;
    border-radius: 5px;
    border:none;
    color: white;
    background-color: #ffaf00;
}

/* PROFILE */

.containerProfile{
    font-family: avenir;
    background-color: white;
    padding: 30px;
}

.containerProfile h1{
font-weight: 900;
font-size: 36px;
line-height: 24px;
color: #050505;
margin-bottom: 50px;
}

.black{
    font-weight: 900;
font-size: 14px;
line-height: 20px;
color: #050505;
}

.grey{
    font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #8A8C90;
line-height: 0px;
}

.personalInfo{
    margin-bottom: 20px;
}

.btnChangePhoto{
    margin-top: 5px;
    width: 280px;
    height:50px;
    background-color: #ffaf00;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}

/* HISTORY TRIP */

.containerHistoryTrip{
    padding: 5px;
    border:2px solid #beb7b7;
    background-color: white;
    font-family: avenir;
    width: 90%;
}

.containerHistoryTrip .logo{
    width: 189px;
    height:68px ;
}

.containerHistoryTrip h1{
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

.containerHistoryTrip .date{
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #878787;
}

.containerHistoryTrip h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 15px;
}

.containerHistoryTrip .blackThin{
    font-weight: 800;
    font-size: 18px;
    line-height:10px;
}

.containerHistoryTrip .greyThin{
    font-size: 14px;
    line-height: 10px;
    color: #959595;
}

.containerHistoryTrip .statusApprove{
    width: 60px;
    padding: 5px;
    font-weight: 500;
font-size: 12px;
color: #09c47c;
background-color: #b9dbc9;
}

.barcode{
    margin-left: 60px;
}

table{
    width: 100%;
}

th{
    width:200px;
    font-weight: 800;
    font-size: 18px;
    padding: 10px;
}

td{
    width:200px;
    font-weight: normal;
    font-size: 18px;
    color: #B1B1B1;
    padding: 10px;
}

tr{
    
    border-bottom: 2px solid #B1B1B1;
}

#qtyTotal{
    font-weight: 800;
color: black
}

#redPrice{
    color: red;
}

/* LIST TRANSACTION */

.containerListPayment{
    font-family: roboto;
    background-color: white;
    width: 100%;
    font-size: 14px;
}

 .containerListPayment td, th{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 200px;
    color: black;
    padding: 25px 10px;
    border-bottom: 1px solid #beb7b7;
}

.greyRow{
    background-color: #F9F9F9;
}

.containerListPayment .cancel{
    color: red;
}
.containerListPayment .approve{
    color: rgb(12, 189, 130);
}
.containerListPayment .pending{
    color: #F7941E;
}